<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisx.mapper.FamilyMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisx.entity.Family">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="FamilyInfo" type="com.example.mybatisx.entity.Family">

    </resultMap>

</mapper>
