<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisx.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisx.entity.Users">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="OTHER"/>
    </resultMap>

    <resultMap id="FamilyInfo" type="com.example.mybatisx.entity.Users">
        <id property="id" column="u_id"/>
        <result property="name" column="u_name"/>
        <result property="gender" column="gender"/>
        <collection property="family" column="family_name" ofType="com.example.mybatisx.entity.Family">
            <id property="id" column="f_id"/>
            <result property="name" column="f_name"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <resultMap id="FigureInfo" type="com.example.mybatisx.entity.Users">
        <id property="id" column="u_id"/>
        <result property="name" column="u_name"/>
        <result property="gender" column="gender"/>
        <association property="figure" column="figure_id" javaType="com.example.mybatisx.entity.Figure">
            <id property="id" column="f_id"/>
            <result property="height" column="height"/>
            <result property="weight" column="weight"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        create_time,update_time,is_deleted
    </sql>
    <select id="selectOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
    </select>
    <select id="getAllFamilyInfo" resultMap="FamilyInfo">
        select users.id as u_id, users.name as u_name, users.gender, family.id as f_id, family.name as f_name, family.type
        from users
        left join family
        on users.name=family.name
    </select>
    <select id="getFigureInfo" resultMap="FigureInfo">
        select users.id as u_id, users.name as u_name, users.gender, figure.id as f_id, figure.height, figure.weight
        from users
        left join figure
        on users.id=figure.id
    </select>

</mapper>
